<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!recipeForm.valid"
          >
            Save
          </button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">
            Cancel
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              class="form-control"
              formControlName="name"
              placeholder=""
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input
              type="text"
              id="imagePath"
              class="form-control"
              formControlName="imagePath"
              placeholder=""
              #imagePath
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img [src]="imagePath.value" class="img-responsive" alt="" />
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <img src="" alt="" class="img-responsive" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              type="text"
              id="description"
              formControlName="description"
              class="form-control"
              placeholder=""
              rows="6"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" formArrayName="ingredients">
          <div
            *ngFor="let ingredientCtrl of controls; let i = index"
            class="row"
            [formGroupName]="i"
            style="margin-top: 10px"
          >
            <div class="col-xs-8">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder=""
                  formControlName="name"
                />
              </div>
            </div>
            <div class="col-xs-2">
              <div class="form-group">
                <input
                  type="number"
                  class="form-control"
                  placeholder=""
                  formControlName="amount"
                />
              </div>
            </div>
            <div class="col-xs-2">
              <button (click)="onDeleteIngredient(i)" class="btn btn-danger">
                X
              </button>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-xs-12">
              <button class="btn btn-success" (click)="onAddIngredient()">
                Add ingredient
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
